

<div class="section-formulaire">
  <p>Nouveau message :</p>
  <form>
    <div class="form-group">
        <label for="name">De: </label>
        <input type="text" id="name" name="name" />
    </div>
    <div class="form-group">
        <label for="message">Message: </label>
        <textarea id="message" name="message" rows="4" cols="50"> </textarea>
    </div>
    <div class="form-group">
          <button id="btn-annul" type="button">Annuler</button>
          <button id="btn-submit" type="submit">Valider</button>
    </div>
  </form>
</div>

